{# hero.twig #}
<section class="hero">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">
          <span class="hero__title-text">Affordable</span>
          <span class="hero__title-highlight">Websites</span>
          <span class="hero__title-text">for Charities with Big Ambition</span>
        </h1>
        <p class="hero__description">
          Bee Lite helps you build powerful online presence to support your mission and maximize impact. Bee Lite provides affordable website solutions specifically designed for charities, helping you reach more donors, Tell your story effectively, Increase online donations.
        </p>
        <div class="hero__buttons">
          <a href="#" class="hero__button hero__button--primary">Get Started</a>
          <a href="#" class="hero__button hero__button--secondary">Learn More</a>
        </div>
      </div>
      <div class="hero__images">
        {# <div class="hero__image-grid"> #}
          <img src="/src/images/hero-group.png" alt="Team collaboration" class="hero__image hero__image--1">
        {# </div> #}
        
      </div>
    </div>
  </section>