{# marquee.html.twig #}
<div class="marquee">
    <div class="marquee__inner">
        <div class="marquee__content">
            <span class="marquee__item">UI/UX DESIGN</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">LOGO DESIGN</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">DESIGN</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">DEVELOPMENT</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">WORDPRESS</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">MARKETING</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">GOOGLE GF</span>
        </div>
        {# Duplicate content for seamless scrolling #}
        <div class="marquee__content" aria-hidden="true">
            <span class="marquee__item">UI/UX DESIGN</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">LOGO DESIGN</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">DESIGN</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">DEVELOPMENT</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">WORDPRESS</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">MARKETING</span>
            <span class="marquee__separator">✷</span>
            <span class="marquee__item">GOOGLE GF</span>
        </div>
    </div>
</div>