{# stats.twig #}
<div class="stats">
    <div class="stats__item">
        <div class="stats__value">
            <span class="stats__currency">$</span>
            <span class="stats__number" data-target="2">0</span>
            <span class="stats__unit cap">M</span>
            <span class="stats__plus">+</span>
        </div>
        <div class="stats__label">
            <span>Grants</span>
            <span>Generated</span>
        </div>
    </div>
    
    <div class="stats__item">
        <div class="stats__value">
            <span class="stats__number" data-target="25">0</span>
            <span class="stats__plus">+</span>
        </div>
        <div class="stats__label">
            <span>years'</span>
            <span>experience</span>
        </div>
    </div>
    
    <div class="stats__item">
        <div class="stats__value">
            <span class="stats__number" data-target="500">0</span>
            <span class="stats__unit">%</span>
        </div>
        <div class="stats__label">
            <span>Increase in</span>
            <span>Organic Traffic</span>
        </div>
    </div>
</div>